/* .navbar-dark {
    background-color: #512DA8; } */
.main1{
    background-image: url('/img/news-event-bg.png');
    background-repeat:no-repeat;
    background-position:top;
    background-size: 100% 16%;
}
.wekare{
    background: rgb(248, 245, 245);
    margin-top: 10%;
    line-height: 4;
    color: rgb(50, 18, 76);
}
.ourMission{
    line-height: 2;
    text-align: center;
    background-image: url('/img/mission-bg.png');
    background-repeat:no-repeat;
    background-position:top;
    background-position:right;
    color: rgb(50, 18, 76);
}
.ourPhil{
    line-height: 2;
    text-align: center;
    background-image: url('/img/philospy-bg.png');
    background-repeat:no-repeat;
    background-position:top;
    background-position:left;
    color: rgb(50, 18, 76);
}
.testimonial{
    background-image: url('/img/testimonial-left-bg.png');
    background-repeat:no-repeat;
    background-position:9%;
}
.footer a:link, a:visited{
    color: rgb(50, 18, 76);
    text-decoration: none;
}
.readMore{
    text-align:end;
}
#button1{
  padding: 5px 50px;
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(19, 158, 204);
  color: white;
  border-radius: 30px;
}
.circle-icon {
    background:white;
    padding:15px;
    color: black;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}
.top-carousel{
    padding-top: 0%;
}
.nav{
    border-bottom:2px solid black ;
}
.navbar-light {
        background-color: white; 
    border-bottom: 2px solid black;}
body {
        
    padding: 50px 0px 0px 0px;
        z-index: 0; }
a img{
    padding:0px 0px 0px 20px;
}
.color-me{
    color: white;
}
/* .carousel {
    background: #512DA8;
} */
/* .carousel .carousel-item {
    height: 100%; 
} */
/* .jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
} */
.carousel .carousel-item img {
    min-height: 100%;
    min-width: 100%; 
}
.carousel .carousel-item p {
    width: 90%; 
}
.bottom-qoute{
    image-orientation:flip;
}
.quotes{
    column-width: 25%;
}
.quotes::before{
    content:url("/img/top-qoute.png");
}
.quotes::after{
    content:url("/img/bottom-qoute.png");
    top:100px
}
img{
    min-height: 100%;
    min-width: 100%;
    display: block; 
}
.box{
    width: 141px; 
    height: 137px;       
}
.footer {
    background-color: rgb(248, 245, 245);
    margin: 0px auto;
    padding: 20px 0px; }
/* .row-header {
    margin: 0px auto;
    padding: 0px 0px; 
}
      
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
} */
.carousels{
    margin-top: 0%;
}
.carousels .carousel-indicators {
    bottom: -50px;
    z-index: 2;
}
.carousel .carousel-indicators li{
        border-radius: 50%;
        border: 3px solid rgb(8, 140, 184);
        width: 6px;
        height: 6px;
        padding: 2px;
        position: relative;
        background-color: white;
        opacity: 1;
}
.carousel-indicators li.active {

    background-color: rgb(8, 140, 184);

}

.carousel .carousel-inner{
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.3);
}